/*
  CSS Function
  purpose:使用这些方法方便以后兼容其他内核，都是需要前缀(webkit)的属性
  ps:任何疑问或建议可旺旺—曹纯
*/
/*CSS Reset*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
strong,
b {
  font-weight: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
}
textarea:focus {
  outline: 0;
}
body {
  color: #000;
  font-family: arial;
  background: #FFF;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #fff;
}
body {
  color: #333;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #333;
}
